<% if current_user %>
  <div>
    <br>
    <%= link_to "Show Balance", balance_path %> |
    <%= link_to "Transfer To", new_transaction_path %>
  </div>
<% else %>
  <p>Please choose one option…</p>
  <%= link_to "Sign Up", signup_path %> or
  <%= link_to "Log In", login_path %>
<% end %>